.product-container {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;


}

.search-button:hover {
    background-color: black;
    /* Azul escuro */
}

  




