@import "../node_modules/bootstrap/scss/bootstrap";

// scss/_custom.scss
$primary: beige; // Cor primária personalizada
$body-bg: rgb(245, 234, 234); // Cor de fundo do corpo
$font-family-base: 'Arial, sans-serif'; // Família de fontes personalizada