*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
     
}
.grid{
    width: 100vw;
    height: 100vh;
    display: grid;
}

.header{
    width: 100vw;
    height: 25vh;
    display: flex;
    flex-direction: row;
    background-color: brown;

    .column-1{
        width: 25%;
        height: 100vh;
        background-color: black;
    }
    .column-2 {
        width: 50%;
        height: 100%;
        background-color: rgb(228, 12, 12);
    }
    .column-3 {
        width: 25%;
        height: 100%;
        background-color: rgb(172, 121, 13);
    }

}

.body {
    width: 100vw;
    height: 50vh;
    background-color: rgb(51, 255, 0);

}

.footer {
    width: 100vw;
    height: 25vh;
    background-color: rgb(47, 63, 134);

}

